__pycache__
*.pyc
*.pyo
*.pyd
.mypy_cache
.ruff_cache
venv
.venv
tests
*.log
data/*.db
data/uploads
invoice_test.pdf
.git
.github
.gitlab-ci.yml
.pre-commit-config.yaml
.flake8
CHANGELOG.md
CONTRIBUTING.md
LICENSE
README.md
Dockerfile
